@use "./../init" as *;

body.has-modal {
    overflow: hidden;
}

.c-modal-overlay {
    position: fixed;
    inset: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    overflow-y: auto;
    background: rgb(0 0 0 / 50%);
    animation: modal-overlay-in 0.2s ease;

    &.is-closing {
        animation: modal-overlay-out 0.2s ease forwards;
    }

    @media (width < $bp-tablet) {
        align-items: flex-start;
        padding: 1.2rem;
    }
}

.c-modal {
    position: relative;
    width: 100%;
    max-width: 58.8rem;
    padding: 4rem;
    background: #fff;
    border-radius: 0.4rem;
    animation: modal-in 0.2s ease;

    .c-modal-overlay.is-closing & {
        animation: modal-out 0.2s ease forwards;
    }

    @media (width < $bp-tablet) {
        padding: 2.4rem;
    }

    &__close {
        position: absolute;
        top: 1.6rem;
        right: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.6rem;
        height: 2.6rem;
        padding: 0;
        color: #070216;
        cursor: pointer;
        background: none;
        border: none;

        &:hover {
            opacity: 0.6;
        }
    }
}

@keyframes modal-overlay-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modal-overlay-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes modal-in {
    from {
        opacity: 0;
        transform: translateY(-1.6rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes modal-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-1.6rem);
    }
}
