@use "./../../init" as *;

@use "./solution_cta";

.c-solution-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.4rem;
    align-items: start;

    &__cta {
        grid-column: span 2;
    }

    &__products {
        display: contents;
    }
}
